@media (max-width: 500px) {
  html,body{
    margin: 0;
    background: url(img/fondo1.png);
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: cover;
  }
  .nubes{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .NubeMov{
    height: 200vh;
    width: 100%;
    position: absolute;
    top: 0;
     background: url(img/bg-pattern-sky-clouds-xs.png);
    background-repeat: repeat-x;
    background-size: cover;
    animation: animation 100s linear infinite;
  }


@keyframes animation {
   100%{
    background-position:0px -3000px;
  }
}
  .estrellas{
    transition: all 2s;
  }

  .header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: url(img/fondo1.png);
    background-repeat: repeat-x;
    background-size: contain; */
  }
  .logo{
    width: 5%;
    filter: drop-shadow(.1vh .1vh .01vh #fdfdfd);
    transition: all 0.2s;
  }
  .logo:hover{
    filter: drop-shadow(.1vh .1vh .50vh #361518);
  }
  
  .navBar{
    position: fixed;
    z-index: 9999;
    height: 70px;
    /* top: 91.5%; */
    /* top: 0%; */
    bottom: 0;
    width: 100%;
    background: var(--primary);
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    filter: drop-shadow(.1vh .1vh .8vh var(--primary));
  }
  .navBar div{
    height: 70%;
    width: 15%;
    background: #0C3B62;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: .5s;
    position: relative;
    border: 0;
    border-left: 0;
    
  }
  .navBar div:first-child{
    border-left: 0;
    position: fixed;
    width: 40%;
    top: -30%;
    left: 2%;
    background: transparent;
    &::after{
      content: '';
      width: 0;
      height: 0;
      border: 0;
      background: transparent;
    } 
    &::before{
      content: '';
      width: 0;
      height:0;
      border: 0;
      background: transparent;
    } }
  .navBar div:first-child:hover{
    background-color: transparent;
  }
  .navBar div:last-child{
    &::after{
      content: '';
      width: 0;
      height:0;
      border: 0;
      background: transparent;
    } 
    &::before{
      content: '';
      width: 0;
      height:0;
      border: 0;
      background: transparent;
    }
  }
  .navBar div:last-child:hover{
    background-color: var(--primary);
  }
  .navBar div:nth-child(2):hover,.navBar div:nth-child(3):hover,.navBar div:nth-child(4):hover,.navBar div:nth-child(5):hover,.navBar div:nth-child(6):hover{
    position: relative;
    &::before{
      content: '';
      width: 100%;
      z-index: 1;
      height: 100%;
      box-sizing: border-box;
      border: .2vh solid var(--primary);
      border-radius: 0.4vh;
      filter: drop-shadow(.1vh .1vh .5vh var(--links));
      top: 0;
      left: 0;
      position: absolute;
      background: rgb(61,211,238);
    background: linear-gradient(180deg, rgba(61,211,238,1) 75%, rgba(63,217,192,1) 100%);
    }
  }

  .navBar div svg{
    color: var(--white);
    cursor: pointer;
    height: 4vh;
    z-index: 3;
    position: relative;
  }
  .navBar img{
    width: 90%;
  }
  #estandarte{
    position: fixed;
    width: 40%;
    top: -2%;
    right: 0%;
    z-index: 5;
    transition: 1s;
  }
  /* #estandarte:hover{
      opacity: 0;
  } */
  #linkedin{
    transition: 1s;
  }
  .opacidad{
    opacity: 1;
  }
  .noOpacidad{
    opacity: 0;
    transform: translateY(-10vh);
  }
  
  .Centro{
    position: relative;
    z-index: 0;
    top: 2%;
    width: 80%;
    filter: drop-shadow(.1vh .1vh .2vh var(--primary));
  }

  .web{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(img/papiro.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 5%;
  }
  .info{
    height: 40%;
    width: 90%;
    box-sizing: border-box;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 3.5vh;
    
  }
  .info:first-child{
    border-radius: 3vh;
    box-shadow: 10px 10px 20px #D2C6B7, -10px -10px 20px #fff;
  }
  .info img{
    width: 50%;
    /* height: 50%; */
    /* mask-image: linear-gradient(black 80%,transparent); */
    mask-image: linear-gradient(black 80%,transparent);

  }

  @keyframes nublado{
    from {
      transform: translateX(-5vw);}
    to {
      transform: translateX(110vw);
    };
}

@keyframes estrellado {
  /* 0% {opacity: 0;} */
  0% {scale: 1;}

  /* 50% {opacity: 1;} */
  /* 100% {opacity: 1;} */
  100% {scale: 1.5;}

}
 
footer{
  position: relative;
}
footer img{
  /* border: 2px solid var(--white); */
  cursor: pointer;
  z-index: 9999999;
  border-radius: 100%;
  background-color: var(--white);
  width: 5vh;
  position: fixed;
  right: 5.5vw;
  bottom: 2.65vh;
}
}