@media (max-width: 500px) {
  html,body{
    margin: 0;
    scrollbar-color: #E3DAC9 #524E47;
    scrollbar-width: thin;
    overflow-x: hidden;
  }
  .nubes{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  .cometas{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  .NubeMov{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
     background: url(img/bg-pattern-sky-clouds-xs.webp);
    background-repeat: repeat-x;
    background-size: cover;
    animation: animation2 100s linear infinite;
  }


@keyframes animation {
   100%{
    background-position:0px -3000px;
  }
}
  .estrellas{
    transition: all 2s;
  }

  .header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(img/fondo1.webp);
    background-repeat: repeat-x;
    background-size: cover;
  }
  .logo{
    width: 5%;
    filter: drop-shadow(.1vh .1vh .01vh #fdfdfd);
    transition: all 0.2s;
  }
  .logo:hover{
    filter: drop-shadow(.1vh .1vh .50vh #361518);
  }
  .logoEstandarteMovil{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .logoEstandarteMovil img{
    width: 35%;
    position: absolute;
    filter: drop-shadow(.1vh .1vh .50vh var(--primary));
  }
  .logoEstandarteMovil img:first-child{
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 5px;
  }
  .logoEstandarteMovil img:last-child{
    position: fixed;
    z-index: 9999;
    top: -26px;
    right: -20px;
    transition: 2s;
  }
  .logoEstandarteMovil img:last-child:hover{
    position: fixed;
    z-index: 9999;
    top: -150px;
    right: -20px;
  }
  
  .navBar{
    position: fixed;
    z-index: 9999;
    height: 70px;
    bottom: 0;
    width: 100%;
    background: var(--primary);
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    filter: drop-shadow(.1vh .1vh .8vh var(--primary));
  }
  .navBar div a{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .navBar div{
    height: 70%;
    width: 18%;
    background: #0C3B62;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: .5s;
    position: relative;
    border: 0;
    border-left: 0;
    
  }
  .navBar div:first-child{
    border-left: 0;
    position: fixed;
    display: none;
    width: 40%;
    top: -30%;
    left: 2%;
    background: transparent;
    &::after{
      content: '';
      width: 0;
      height: 0;
      border: 0;
      background: transparent;
    } 
    &::before{
      content: '';
      width: 0;
      height:0;
      border: 0;
      background: transparent;
    } }
  .navBar div:first-child:hover{
    background-color: transparent;
  }
  .navBar div:last-child{
    display: none;
    &::after{
      content: '';
      width: 0;
      height:0;
      border: 0;
      background: transparent;
    } 
    &::before{
      content: '';
      width: 0;
      height:0;
      border: 0;
      background: transparent;
    }
  }
  .navBar div:last-child:hover{
    background-color: var(--primary);
  }
  .navBar div:nth-child(2):hover,.navBar div:nth-child(3):hover,.navBar div:nth-child(4):hover,.navBar div:nth-child(5):hover,.navBar div:nth-child(6):hover{
    position: relative;
    &::before{
      content: '';
      width: 100%;
      z-index: 1;
      height: 100%;
      box-sizing: border-box;
      border: .2vh solid var(--primary);
      border-radius: 0.4vh;
      filter: drop-shadow(.1vh .1vh .5vh var(--links));
      top: 0;
      left: 0;
      position: absolute;
      background: rgb(61,211,238);
    background: linear-gradient(180deg, rgba(61,211,238,1) 75%, rgba(63,217,192,1) 100%);
    }
  }

  .navBar img{
    width: 90%;
  }
  #estandarte{
    position: fixed;
    width: 40%;
    top: -2%;
    right: -2%;
    z-index: 5;
    transition: 1s;
  }

  #linkedin{
    transition: 1s;
  }
  .opacidad{
    opacity: 1;
  }
  .noOpacidad{
    opacity: 0;
  }
  
  .Centro{
    position: relative;
    z-index: 0;
    top: 2%;
    width: 80%;
    filter: drop-shadow(.1vh .1vh .2vh var(--primary));
  }

  .web{
    height: 140vh;
    width: 100%;
    position: relative;
    background: url(img/papiro.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 5%;
  }
  .web::before{
    content: '';
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/separador.webp);
    background-size: contain;
    z-index: 2;
  }
  .web::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 100%;
    height: 100px;
    transform: rotateZ(180deg);
    background: url(img/separador.webp);
    background-size: contain;
  }
  .fin-seccion{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  .fin-seccion img{
    width: 100%;
  }
  .web .titulo{
    margin-top: 40px;
    margin-bottom: -60px;
    font-family: 'Orpehus';
    font-size: 36px;
    line-height: 33px;
    color: #48453E;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 3px;
    color: var(--letra);
    }
 
  .info{
    height: 90%;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 3.5vh;
    z-index: 10;
    
  }
  .resume{
    width: 100%;
    height: 50%;
    min-height: 430px;
    box-sizing: border-box;
  }
  .imagenes{
    width: 80%;
    height: 50%;
    min-height: 200px;
    max-height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: url(img/fondomarco.webp);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 2px solid #D8D1C4;
    margin: 20px 30px;
    padding: 25px;
    gap: 30px;

  }
  .imagenesDiv{
    box-sizing: border-box;
    width: 80%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #yo{
    width: 65%;
    position: absolute;
    top: 0%;
    transition: 2s all;
  }
  #pixelyo{
    width: 65%;
    position: absolute;
    top: 0%;
    z-index: 0;
    transition: 2s all;
  }
  #click{
    font-family: 'Neusa';
    cursor: pointer;
    user-select: none;
    background: none transparent;
    border-radius: 2px;
    color: #48453E;
    border-color: #DDD2C5;
    border-style: solid;
    border-width: 3px;
    box-sizing: border-box;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: .125rem;
    line-height: 1.2em;
    padding: 1.1875rem 1.875rem;
    text-transform: uppercase;
    transition: background-color .2s linear;
    &:hover{
    font-family: 'Neusa';
    background-color: #DDD2C5;
    
    }
  }
  .perfil-skills{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.tabs {
    position: relative;
    display: flex;
    gap: .2vw;
    width: 100%;
    list-style-type: none;
    box-sizing: border-box;
    margin-left: -38px;
}

.tabs li {
    position: relative;
    z-index: 2;
    padding: 2px;
}
.tabs li:first-child{
  border-top-left-radius: 30vh;
  border-bottom-left-radius: 30vh;
}
#tab1{
  border-top-left-radius: 30vh;
  border-bottom-left-radius: 30vh;
}
.tabs li:last-child{
  border-top-right-radius: 30vh;
  border-bottom-right-radius: 30vh;
}
#tab4{
  border-top-right-radius: 30vh;
  border-bottom-right-radius: 30vh;
}

.tabs li a {
    padding: 10px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-family: 'Neusa';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 14px;
    text-transform: uppercase;
    border: 1px solid #F8F0E4;
    text-decoration: none;
    text-align: center;
    min-width: 10px;
    outline: none;
    position: relative;
}
.list{
    background: #E3DAC9;
}
.noActive-tab{
  color: #524E47;
}
.active-list{
  background: #524E47;
  color: #f4ebde;
}
.active-tab{
  background:  #524E47;
  color: #f4ebde;
}
.noActive-list{
  background:  #E3DAC9;
}

.tab-content {
    display: none;
    overflow-y: hidden;
    width: 90%;
    height: 80%;
    min-height: fit-content;
    max-height: fit-content;
}
.tab-content img{
  width: 50%;
}

.tab-content--active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 5px;
    min-height: fit-content;
    max-height: fit-content;
    width: 90%;
    padding: 0 5px;
    font-size: 0.875rem;
    padding-bottom: 1rem;
}
.tab-content ul{
  list-style-image: url("img/lista.webp");
}
.tab-content ul li{
margin-bottom: 15px;
}
.tab-content ul li b{
color: #48453E;
font-weight: bold;
}
.tab-content .logosCode{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px;
  place-items: center;
  width: 70%;
  height: 80%;
  margin-top: -20px;
}
.tab-content .svg{
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  border-radius: 0.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
}
.tab-content .svg:first-child{
  background: #E54C21;
}
.tab-content .svg:nth-child(2){
  background: #214CE5;
}
.tab-content .svg:nth-child(3){
  background: #212121;
}
.tab-content .svg:nth-child(4){
  background: #787CB4;
}
.tab-content .svg:nth-child(5){
  background: #9C9C9C;
}
.tab-content .svg:nth-child(6){
  background: #02719C;
}
.tab-content .svg:nth-child(7){
  background: #212121;
}
.tab-content .svg:nth-child(8){
  background: #212121;
}
.tab-content .svg:nth-child(9){
  background: #0078D7;
}



  
  @keyframes nublado{
    0% {
      opacity: 0;
      transform: translateX(-5vw);}
    10%{
        opacity: 1;
      }
    100% {
      opacity: 1;
      transform: translateX(110vw);
    };
}

@keyframes estrellado {
  0% {scale: 1;}
  100% {scale: 1.5;}
}
@keyframes cometado {
  from {
    transform: translateY(0vw);}
  to {
    transform: translateY(100vh) translateX(-130vw);
  };

}

.planets{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/fondo1.webp);
  background-repeat: repeat-x;
  background-size: cover;
  padding-bottom: 10px;
  padding-top: 10px;
}
.galaxy{
  height: 375px;
  width: 375px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.sun {
    width: 25vh;
    height: 25vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sol{
    width: 60%;
    /* filter: drop-shadow(.1vh .1vh 0.7vh #feab06 ); */
    /* animation: orbit 100s linear infinite; */
  }
  .planet{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 0.5px solid #524E47;
    border-radius: 100%;
    position: absolute;
  }
  .planet img{
    width: 10%;
    position: absolute;
  }
  .moon{
    width: 12.5vh;
    height: 12.5vh;
    left: 25%;
    top: 25%;
    animation: orbit 10s linear infinite;
  }
  #moon{
    left: -5%;
  }
  .desert2{
    width: 17.5vh;
    height: 17.5vh;
    left: 15%;
    top: 15%;
    animation: orbit 20s linear infinite;
  }
  #desert2{
    left: 95%;
  }
   .earth{
    width: 22.5vh;
    height: 22.5vh;
    left: 5%;
    top: 5%;
    animation: orbit 30s linear infinite;
  }
  #earth{
    left: 50%;
    top: 95%;
  }
  .desert{
    width: 27.5vh;
    height: 27.5vh;
    left: -5%;
    top: -5%;
    animation: orbit 40s linear infinite;
  }
  #desert{
    left: 50%;
    top: -5%;
  }
  .terra{
    width: 32.5vh;
    height: 32.5vh;
    left: -15%;
    top: -15%;
    animation: orbit 50s linear infinite;
  }
  #terra{
    left: -5%;
  }
  .ice{
    width: 37.5vh;
    height: 37.5vh;
    left: -25%;
    top: -25%;
    animation: orbit 60s linear infinite;
  }
  #ice{
    top: 95%;
  }
  .gas3{
    width: 42.5vh;
    height: 42.5vh;
    left: -35%;
    top: -35%;
    animation: orbit 70s linear infinite;
  }
  #gas3{
    left: 95%;
  }
 
  @keyframes orbit {
    0% {
      transform: rotateZ(0deg); }
  
    100% {
      transform: rotateZ(-360deg); } }


 
.projects{
  height: 100vh;
  width: 100%;
  position: relative;
  background: url(img/papiro-clear.jpg);
  background-size: contain;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.projects .titulo{
margin-top: 50px;
margin-bottom: 50px;
font-family: 'Orpehus';
font-size: 36px;
line-height: 33px;
color: #48453E;
font-weight: 900;
font-style: normal;
letter-spacing: 3px;
color: var(--letra);
}
.projects::before{
  content: '';
  position: absolute;
  overflow: hidden;
  top: -70px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(img/separador.webp);
  background-size: contain;
  z-index: 2;
}
.projects::after{
  content: '';
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 100%;
  height: 100px;
  transform: rotateZ(180deg);
  background: url(img/separador.webp);
  background-size: contain;
}
.projects-table{
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto; 
  column-gap: 20px;
  row-gap: 20px;
  height: 80%;
  width: 85%;
  scrollbar-color: #E3DAC9 #524E47;
  scrollbar-width: thin;
}
.card{
  max-width: 100%;
  padding: 20px;
  height: 340px;
  background: #FFFAF4;
  box-shadow: rgba(37, 13, 4, 0.18) 0px 30px 20px -20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card a{
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.cardImage{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  cursor: pointer;
}
.cardImage::before{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: -5px;
  left: -5px;
  background: url(img/esquinita.svg);
  background-size: contain;
}
.cardImage::after{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  bottom:-5px;
  right: -5px;
  background: url(img/esquinita.svg);
  background-size: contain;
  transform: rotateZ(180deg);
}
.cardImage .slider{
position: absolute;
background: #FFFAF4;
width: 100px;
height: 12px;
bottom: 0;
border-top-left-radius: 3vh;
border-top-right-radius: 3vh;
display: flex;
justify-content: center;
align-items: center;
padding: 3px;
gap: 6px;
}
.cardImage .slider img{
  width: 12%;
  box-sizing: border-box;
  cursor: pointer;
}

.cardText{
  height: 50%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.cardText h1{
  font-size: 1.475rem;
  line-height: 1.2em;
  color: #48453E;
  font-weight: 700;
  letter-spacing: normal;
}
.cardText p{
  margin-top: -10px;
  font-size: 16px;
  line-height: 20px;
  color: #6a675e;
  font-weight: 700;
}


footer{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(img/fondo1.webp);
  background-repeat: repeat-x;
  background-size: cover;
}
footer #player{
  cursor: pointer;
  z-index: 9999999;
  border-radius: 100%;
  background-color: var(--white);
  width: 5vh;
  position: fixed;
  right: 7.5vw;
  bottom: 11vh;
}


#mar{
  background: url(img/mar3.webp);
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0;
  height: 194px;
  width: 100%;
}
.reflejo{
  position: absolute;
  z-index: 15;
  bottom: 0%;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.reflejo::after{
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    height: 194px;
    background-image: url(img/water-center.webp);
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;

}


@keyframes animation2 {
  100%{
   background-position:3000px 0;
 }
}
#copyrights{
  text-align: center;
  font-family: 'Neusa';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: rgb(55, 129, 149);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 300px;
}
#time{
  font-family: 'Neusa';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: rgb(55, 129, 149);
}
#copyrights #favicon-footer{
  width: 75px;
}
#copyrights #logo-footer{
  width: 350px;
  filter: drop-shadow(.1vh .1vh 1vh var(--links));
}

}