html,body{
  margin: 0;
  overflow-x: hidden;
  background: #9BBB1D;
}
:root{
  --primary: #9BBB1D;
  --white: #fdfdfd;
  --black: #212121;
}

.oculto{
  width: 0;
  opacity: 0;
  transform: translateX(-250px);
}
.posicionAbierta{
  transform: translateX(250px);
}


header{
  display: flex;
  width: 100%;
  height: 150px;
  position: relative;
  transition: all 2s;
  box-sizing: border-box;
  /* border: 2px solid #E84353; */
}
header .sidebar{
  background: #5b5d41;
  height: 100vh;
  width: 250px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  top: 0;
  gap: 20px;
  z-index: 10000;
}
.logoDiv{
  display: flex;
  box-sizing: border-box;
  /* border: 1px solid wheat; */
  font-family: 'Poppins';
  font-size: .575rem;
  color: var(--white);
  gap: 15px;
  align-items: center;
  width: 100%;
}
.logoDiv img{
width: 30px;
height: 30px;
background: #000;
border-radius: 100%;
padding: 5px;
}
.menuPrincipal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  /* border: 1px solid black; */
  gap: 4px;
  width: 100%;
}
.menuPrincipal > h2{
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: lighter;
  /* line-height: normal; */
  font-style: normal;
  letter-spacing: 0.3px;
  color: var(--white);
}
.menuPrincipal a{
  display: flex;
  gap: 15px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  font-family: 'Poppins';
  font-size: 10px;
  font-weight: lighter;
  line-height: normal;
  font-style: normal;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}
.menuPrincipal a:hover{
  background: #212121;
  border-radius: 30px;
}
.menuPrincipal svg{
  width: 24px;
  height: 24px;
}
.procesos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  /* border: 1px solid black; */
  gap: 4px;
  width: 100%;
}
.procesos > h2{
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: lighter;
  /* line-height: normal; */
  font-style: normal;
  letter-spacing: 0.3px;
  color: var(--white);
}
.procesos a{
  display: flex;
  gap: 15px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  font-family: 'Poppins';
  font-size: 10px;
  font-weight: lighter;
  line-height: normal;
  font-style: normal;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}
.procesos a:hover{
  background: #212121;
  border-radius: 30px;
}
.procesos svg{
  width: 24px;
  height: 24px;
}

.user{
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  /* border: 1px solid wheat; */
  font-family: 'Poppins';
  font-size: .775rem;
  line-height: 10px;
  color: var(--white);
  align-items: center;
  width: 100%;
}
.user img{
width: 60px;
height: 60px;
background: #000;
border-radius: 100%;
padding: 0px;
}
.userInfo{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* padding: 5px; */
  gap: 0;
  margin: 0;
}
.user button{
font-family: 'Poppins';
font-size: .775rem;
color: var(--white);
background: #E84353;
padding: 5px;
border-radius: 32px;
border: 0;
inset: 0;
cursor: pointer;
}
.user button:hover{
  background-color: var(--white) ;
  color: var(--black);
}
header .overview{
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  height: 150px;
  background: #212121;
  padding: 20px;
  display: flex;
  gap: 40px;
}
.overview svg{
  color: var(--white);
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.iconoMenu{
  box-sizing: border-box;
  /* border: 1px solid wheat; */
  width: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.overviewDiv{
  box-sizing: border-box;
  /* border: 1px solid wheat; */
  width: 47%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.overviewDiv h2{
  font-family: 'Poppins';
  font-size: 1.675rem;
  line-height: 5px;
  color: var(--white);
}
input[type="search"]{
  background: transparent;
  height: 30px;
  width: 250px;
  inset: 0;
  border: 1px solid #fffdfd71;
  border-radius: 8px;
  padding: 10px;
  position: relative;
  top: 0;
  font-family: 'Poppins';
  color: var(--white);
  background-image: url(../img/search-line.svg);
  background-position: 220px 4px; 
  background-repeat: no-repeat;
  background-size: 8%;
}
.timeLogo{
  box-sizing: border-box;
  /* border: 1px solid wheat; */
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.timeLogo .interiorTimeLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  /* border: 1px solid red; */
  height: 100%;
  width: 30%;
}
.timeLogo .interiorTimeLogo div{
  display: flex;
  box-sizing: border-box;
  /* border: 1px solid wheat; */
  height: 50%;
  font-family: 'Poppins';
  font-size: .575rem;
  color: var(--white);
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.timeLogo .interiorTimeLogo div img{
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 100%;
  padding: 5px;
}
.timeLogo .interiorTimeLogo p{
  font-family: 'Poppins';
  font-size: 1.375rem;
  color: var(--white);
  line-height: 0;
  width: 100%;
  height: 50%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  header{
    height: 250px;
  }
  .oculto{
    transform: translateX(-450px);
  }
  .posicionAbierta{
    transform: translateX(450px);
  }
  header .sidebar{
    height: 100%;
    width: 450px;
    padding: 20px;
    gap: 20px;
    z-index: 10000;
  }
  .logoDiv{
    font-size: 1.275rem;
  }
  .logoDiv img{
  width: 60px;
  height: 60px;
  }
  .menuPrincipal > h2{
    font-size: 24px;
  }
  .menuPrincipal a{
    gap: 5px;
    font-size: 20px;
  }
  .menuPrincipal svg{
    width: 44px;
    height: 44px;
  }
  .procesos > h2{
    font-size: 24px;
  }
  .procesos a{
    gap: 5px;
    font-size: 20px;
  }
  .procesos svg{
    width: 44px;
    height: 44px;
  }
  .user{
    margin-top: 45px;
    justify-content: space-between;
    font-size: 1.775rem;
  }
  .user img{
  width: 120px;
  height: 120px;
  }
  
  .user button{
  font-size: 1.775rem;
  padding: 10px;
  }

  header .overview{
    height: 250px;
  }
  .overview svg{
    width: 80px;
    height: 80px;
  }
  .iconoMenu{
    width: 10%;
  }
  .overviewDiv{
    width: 45%;
    justify-content: center;
    gap: 25px;
  }
  .overviewDiv h2{
    font-size: 2.275rem;
  }
  input[type="search"]{
    height: 60px;
    width: 350px;
    font-size: 2.675rem;
    background-position: 300px 6px; 
    background-size: 12%;
  }
  .timeLogo{
    width: 45%;
  }
  .timeLogo .interiorTimeLogo{
    width: 100%;
  }
  .timeLogo .interiorTimeLogo div{
    font-size: 1.075rem;
    height: 70%;
    margin-top: 15px;
  }
  .timeLogo .interiorTimeLogo div img{
    width: 60px;
    height: 60px;
  }
  .timeLogo .interiorTimeLogo p{
    font-size: 1.875rem;
    margin-top: 5px;
  }
}

