body {
    font-family: fantasy;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer, nav, section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    clear: both;
}
