:root{
  --yi:352px;
  --xi: 32px;

  --yf:0px;
  --xf: 0px;

  --xm:0px;
  --ym:0px; 
}

body{
  background: #212121;
  overflow: hidden;
  margin: 0;
}
#audio{
  display: none;
}
main{
  width: 1280px;
  height: 640px ;
  background: url(img/fondodia.png);
  transform: scale(1.5);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border: 2px solid whitesmoke;
  animation: oscurecerCielo 50s linear alternate infinite;
  /* transition: all 0.1s; */
}
/* main div{
  transition: all 0.1s;

} */
section{
  position: absolute;
  /* z-index: 99999; */
  width:100%;
  height: 100vh;
  background: url(img/6.png);
  background-size: contain;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid whitesmoke; */

}
section #divazo{
  width: 100%;
  height: 100% ;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/lluvia.gif);
}
section #divazo button{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 56px;
  border-radius: 12px;
  border: 0;
  outline: 0;
  color: whitesmoke;
  background: transparent;
  cursor: pointer;

}

.mar{
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(img/mar2.png);
  z-index: 10;
  animation: pintarTODO 6s linear,mar 60s linear infinite;

  
}
@keyframes mar {
  0% {background-position: 100%; }
  100% {background-position: 0%; }

}

#estrella{
  --bg-pseudo:url("img/fondosol.png");
  /* width: 256px; */
  width: 1280px;
  height: 1280px ;
  z-index: 0;
  position: absolute;
  top: 0;
  animation: pintarTODO 10s linear, girarCielo 100s linear infinite;

}
@keyframes girarCielo {
  0% {
    transform: rotate(0);
   }
  100% {
    transform: rotate(360deg);
   }
}
@keyframes oscurecerCielo {
  0% {background: url('img/fondodia.png');
   }
  100% {background: url('img/5.png');}
}
#estrella #sol{
  width: 192px;
  height: 192px;
  position: absolute;
  top: 32px;
  left: 992px;
}
#estrella #luna{
  width: 192px;
  height: 192px;
  position: absolute;
  bottom: 32px;
  right: 992px;

}
#estrella img{
  width: 192px;
}
#estrella #sol::before{
  content: '';
  background: var(--bg-pseudo);
  position: absolute;
  width: 192px;
  height: 192px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  animation-name: sol;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes sol {
  0% {
    background-size: 135% ;
    transform: rotate(0);
   }
  100% {
    background-size: 135%;
    transform: rotate(360deg);
   }
}


.bird{
  width: 64px;
  z-index: 11;
  animation: pintarTODO 2s linear;
}
.bird #bird1{
  position: absolute;
  width: 64px;
  top: 192px;
  left: 1328px;
  z-index: 10;
  transform: rotateY(180deg);
   animation: pajaro 10s linear 5s infinite
}
.bird #bird2{
  position: absolute;
  width: 64px;
  top: 160px;
  left: 1328px;
  z-index: 10;
  transform: rotateY(180deg);
  animation: pajaro 12s linear 5s infinite
}
.bird #bird3{
  position: absolute;
  width: 64px;
  top: 128px;
  left: 1328px;
  z-index: 10;
  transform: rotateY(180deg);
  animation: pajaro 12.5s linear 5s infinite
}
.bird #bird4{
  position: absolute;
  width: 64px;
  top: 224px;
  left: 1328px;
  z-index: 10;
  transform: rotateY(180deg);
  animation: pajaro 15s linear 5s infinite
}

@keyframes pajaro {
  0%{
    left: 1328px;
  }

  100%{
    left: -128px;
  }
}

@keyframes nublado{
    from {transform: translateX(-100px)}
    to {transform: translateX(2080px)};
}


@keyframes pulse {
  0% {
      opacity: 0;  
  }
  50% {
      scale: 1.4;  
      opacity: .4;
  }
  100%{
      opacity: .6;
  }
}
@keyframes coinOut {
  0%{opacity: 1;}
  100%{opacity: 0;display: none;}
}

@keyframes pintarTODO {
  0%{opacity: 0;}
  90%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes pintarTODO2 {
  0%{opacity: 0;}
  100%{opacity: 1;}
}


@keyframes coin {
  0%{
    top: var(--yi); 
    left: var(--xi); 
  }

  50%{
    top: var(--ym);
    left: var(--xm);
  }
  
  100%{
    top: var(--yf);
    left: var(--xf);
  }
}
